.Bizimle-Iletisime-Gec-1 {
    fill: #3f4c70;
  }

  .Bizimle-Iletisime-Gec-1, .Bizimle-Iletisime-Gec-2, .Bizimle-Iletisime-Gec-3, .Bizimle-Iletisime-Gec-4, .Bizimle-Iletisime-Gec-5, .Bizimle-Iletisime-Gec-6, .Bizimle-Iletisime-Gec-7, .Bizimle-Iletisime-Gec-8, .Bizimle-Iletisime-Gec-9, .Bizimle-Iletisime-Gec-10, .Bizimle-Iletisime-Gec-11, .Bizimle-Iletisime-Gec-12, .Bizimle-Iletisime-Gec-13, .Bizimle-Iletisime-Gec-14, .Bizimle-Iletisime-Gec-15, .Bizimle-Iletisime-Gec-16, .Bizimle-Iletisime-Gec-17, .Bizimle-Iletisime-Gec-18, .Bizimle-Iletisime-Gec-19, .Bizimle-Iletisime-Gec-20, .Bizimle-Iletisime-Gec-21 {
    stroke-width: 0px;
  }

  .Bizimle-Iletisime-Gec-22 {
    font-family: Arial, sans-serif;
    font-size: 3.09px;
    font-weight: 600;
  }

  .Bizimle-Iletisime-Gec-22, .Bizimle-Iletisime-Gec-12, .Bizimle-Iletisime-Gec-13 {
    fill: #1a1f2e;
  }

  .Bizimle-Iletisime-Gec-2, .Bizimle-Iletisime-Gec-11 {
    fill: #ff5a76;
  }

  .Bizimle-Iletisime-Gec-2, .Bizimle-Iletisime-Gec-13 {
    fill-rule: evenodd;
  }

  .Bizimle-Iletisime-Gec-23 {
    font-size: 3.51px;
  }

  .Bizimle-Iletisime-Gec-23, .Bizimle-Iletisime-Gec-24, .Bizimle-Iletisime-Gec-25 {
    font-weight: 700;
  }

  .Bizimle-Iletisime-Gec-23, .Bizimle-Iletisime-Gec-25 {
    font-family: Arial, sans-serif;
  }

  .Bizimle-Iletisime-Gec-23, .Bizimle-Iletisime-Gec-25, .Bizimle-Iletisime-Gec-19 {
    fill: #454b60;
  }

  .Bizimle-Iletisime-Gec-3 {
    fill: #2d354f;
  }

  .Bizimle-Iletisime-Gec-4 {
    fill: #cecece;
    filter: url(#drop-shadow-1);
  }

  .Bizimle-Iletisime-Gec-5 {
    fill: #5c8eff;
  }

  .Bizimle-Iletisime-Gec-6 {
    fill: #cad2db;
  }

  .Bizimle-Iletisime-Gec-7 {
    fill: #0a0c12;
  }

  .Bizimle-Iletisime-Gec-26 {
    stroke: #dce0ed;
    stroke-width: .23px;
  }

  .Bizimle-Iletisime-Gec-26, .Bizimle-Iletisime-Gec-27 {
    stroke-miterlimit: 10;
  }

  .Bizimle-Iletisime-Gec-26, .Bizimle-Iletisime-Gec-27, .Bizimle-Iletisime-Gec-28, .Bizimle-Iletisime-Gec-29 {
    fill: none;
  }

  .Bizimle-Iletisime-Gec-30 {
    mix-blend-mode: multiply;
  }

  .Bizimle-Iletisime-Gec-31 {
    letter-spacing: -.01em;
  }

  .Bizimle-Iletisime-Gec-27, .Bizimle-Iletisime-Gec-28 {
    stroke: #454b60;
  }

  .Bizimle-Iletisime-Gec-27, .Bizimle-Iletisime-Gec-28, .Bizimle-Iletisime-Gec-29 {
    stroke-width: .77px;
  }

  .Bizimle-Iletisime-Gec-8 {
    fill: #3797f2;
  }

  .Bizimle-Iletisime-Gec-24 {
    fill: #3f3f3f;
    font-family: Arial, sans-serif;
    font-size: 9.71px;
  }

  .Bizimle-Iletisime-Gec-25 {
    font-size: 4.41px;
  }

  .Bizimle-Iletisime-Gec-28, .Bizimle-Iletisime-Gec-29 {
    stroke-linejoin: round;
  }

  .Bizimle-Iletisime-Gec-9 {
    fill: url(#Degradado_sin_nombre_2);
  }

  .Bizimle-Iletisime-Gec-10 {
    fill: #e7ecf2;
  }

  .Bizimle-Iletisime-Gec-32 {
    letter-spacing: -.02em;
  }

  .Bizimle-Iletisime-Gec-14 {
    fill: #0c101a;
  }

  .Bizimle-Iletisime-Gec-33 {
    isolation: isolate;
  }

  .Bizimle-Iletisime-Gec-15 {
    fill: url(#Degradado_sin_nombre_2-4);
  }

  .Bizimle-Iletisime-Gec-16 {
    fill: url(#Degradado_sin_nombre_2-5);
  }

  .Bizimle-Iletisime-Gec-17 {
    fill: url(#Degradado_sin_nombre_2-3);
  }

  .Bizimle-Iletisime-Gec-18 {
    fill: url(#Degradado_sin_nombre_2-2);
  }

  .Bizimle-Iletisime-Gec-20 {
    fill: #fff;
  }

  .Bizimle-Iletisime-Gec-21 {
    fill: #131621;
  }

  .Bizimle-Iletisime-Gec-29 {
    stroke: #1a1f2e;
    stroke-linecap: round;
  }