.randevu-Talep-Et-1 {
    fill: #3f4c70;
  }

  .randevu-Talep-Et-1, .randevu-Talep-Et-2, .randevu-Talep-Et-3, .randevu-Talep-Et-4, .randevu-Talep-Et-5, .randevu-Talep-Et-6, .randevu-Talep-Et-7, .randevu-Talep-Et-8, .randevu-Talep-Et-9, .randevu-Talep-Et-10, .randevu-Talep-Et-11, .randevu-Talep-Et-12, .randevu-Talep-Et-13, .randevu-Talep-Et-14, .randevu-Talep-Et-15, .randevu-Talep-Et-16, .randevu-Talep-Et-17, .randevu-Talep-Et-18, .randevu-Talep-Et-19, .randevu-Talep-Et-20, .randevu-Talep-Et-21 {
    stroke-width: 0px;
  }

  .randevu-Talep-Et-22 {
    font-family: Arial, sans-serif;
    font-size: 3.09px;
    font-weight: 600;
  }

  .randevu-Talep-Et-22, .randevu-Talep-Et-12, .randevu-Talep-Et-13 {
    fill: #1a1f2e;
  }

  .randevu-Talep-Et-2, .randevu-Talep-Et-11 {
    fill: #ff5a76;
  }

  .randevu-Talep-Et-2, .randevu-Talep-Et-13 {
    fill-rule: evenodd;
  }

  .randevu-Talep-Et-23 {
    font-size: 3.51px;
  }

  .randevu-Talep-Et-23, .randevu-Talep-Et-24, .randevu-Talep-Et-25 {
    font-weight: 700;
  }

  .randevu-Talep-Et-23, .randevu-Talep-Et-25 {
    font-family: Arial, sans-serif;
  }

  .randevu-Talep-Et-23, .randevu-Talep-Et-25, .randevu-Talep-Et-19 {
    fill: #454b60;
  }

  .randevu-Talep-Et-3 {
    fill: #2d354f;
  }

  .randevu-Talep-Et-4 {
    fill: #cecece;
    filter: url(#drop-shadow-1);
  }

  .randevu-Talep-Et-5 {
    fill: #5c8eff;
  }

  .randevu-Talep-Et-6 {
    fill: #cad2db;
  }

  .randevu-Talep-Et-7 {
    fill: #0a0c12;
  }

  .randevu-Talep-Et-26 {
    stroke: #dce0ed;
    stroke-width: .23px;
  }

  .randevu-Talep-Et-26, .randevu-Talep-Et-27 {
    stroke-miterlimit: 10;
  }

  .randevu-Talep-Et-26, .randevu-Talep-Et-27, .randevu-Talep-Et-28, .randevu-Talep-Et-29 {
    fill: none;
  }

  .randevu-Talep-Et-30 {
    mix-blend-mode: multiply;
  }

  .randevu-Talep-Et-31 {
    letter-spacing: -.01em;
  }

  .randevu-Talep-Et-27, .randevu-Talep-Et-28 {
    stroke: #454b60;
  }

  .randevu-Talep-Et-27, .randevu-Talep-Et-28, .randevu-Talep-Et-29 {
    stroke-width: .77px;
  }

  .randevu-Talep-Et-8 {
    fill: #3797f2;
  }

  .randevu-Talep-Et-24 {
    fill: #3f3f3f;
    font-family: Arial, sans-serif;
    font-size: 9.71px;
  }

  .randevu-Talep-Et-25 {
    font-size: 4.41px;
  }

  .randevu-Talep-Et-28, .randevu-Talep-Et-29 {
    stroke-linejoin: round;
  }

  .randevu-Talep-Et-9 {
    fill: url(#Degradado_sin_nombre_2);
  }

  .randevu-Talep-Et-10 {
    fill: #e7ecf2;
  }

  .randevu-Talep-Et-32 {
    letter-spacing: -.02em;
  }

  .randevu-Talep-Et-14 {
    fill: #0c101a;
  }

  .randevu-Talep-Et-33 {
    isolation: isolate;
  }

  .randevu-Talep-Et-15 {
    fill: url(#Degradado_sin_nombre_2-4);
  }

  .randevu-Talep-Et-16 {
    fill: url(#Degradado_sin_nombre_2-5);
  }

  .randevu-Talep-Et-17 {
    fill: url(#Degradado_sin_nombre_2-3);
  }

  .randevu-Talep-Et-18 {
    fill: url(#Degradado_sin_nombre_2-2);
  }

  .randevu-Talep-Et-20 {
    fill: #fff;
  }

  .randevu-Talep-Et-21 {
    fill: #131621;
  }

  .randevu-Talep-Et-29 {
    stroke: #1a1f2e;
    stroke-linecap: round;
  }