.webBasic {
  cursor: pointer;

}

.Wbasic-1 {
  fill: #d1d2d3;
}

.Wbasic-2 {
  fill: #c69430;
}

.Wbasic-3 {
  fill: #db9914;
}

.Wbasic-4 {
  fill: #373737;
}

.Wbasic-5 {
  fill: #303233;
}

.Wbasic-6, .Wbasic-7 {
  fill: #ddd;
}

.Wbasic-8 {
  fill: #4e4e4e;
}

.Wbasic-9 {
  fill: #fff;
}

.Wbasic-10 {
  fill: #302e29;
}

.Wbasic-11 {
  fill: #94989b;
}

.Wbasic-7 {
  fill-rule: evenodd;
}

@media only screen and (max-width: 500px) {
    
  .webBasic {
    width: 100%;
    padding: 10px;
  }
  
}