.webBusiness {
    cursor: pointer;
  }

  .WBusiness-1 {
    fill: #d1d2d3;
  }

  .WBusiness-2 {
    fill: #c69430;
  }

  .WBusiness-3 {
    fill: #db9914;
  }

  .WBusiness-4 {
    fill: #373737;
  }

  .WBusiness-5 {
    fill: #303233;
  }

  .WBusiness-6 {
    fill: #ddd;
  }

  .WBusiness-7 {
    fill: #4e4e4e;
  }

  .WBusiness-8 {
    fill: #fff;
  }

  .WBusiness-9 {
    fill: #302e29;
  }

  .WBusiness-10 {
    fill: #94989b;
  }

  @media only screen and (max-width: 500px) {
    
    .webBusiness {
      width: 100%;
      padding: 10px;
    }
    
  }