.metaMegaBox {
    cursor: pointer;
    /* width: 300px!important; */
  }
  
 
  .mt-mega-1, .mt-mega-2 {
    fill: none;
  }

  .mt-mega-3 {
    fill: #2d0402;
  }

  .mt-mega-4 {
    fill-rule: evenodd;
  }

  .mt-mega-4, .mt-mega-5, .mt-mega-6 {
    fill: #afafaf;
  }

  .mt-mega-7, .mt-mega-8 {
    fill: #231f20;
  }

  .mt-mega-9 {
    fill: #838689;
  }

  .mt-mega-10 {
    fill: #174f72;
  }

  .mt-mega-11 {
    fill: #454a4c;
  }

  .mt-mega-12 {
    fill: url(#radial-gradient);
  }

  .mt-mega-13 {
    fill: url(#linear-gradient);
  }

  .mt-mega-2 {
    stroke: #1c75bc;
  }

  .mt-mega-2, .mt-mega-5 {
    stroke-width: 2px;
  }

  .mt-mega-2, .mt-mega-5, .mt-mega-14 {
    stroke-miterlimit: 10;
  }

  .mt-mega-15 {
    fill: #3e3e3e;
  }

  .mt-mega-16 {
    isolation: isolate;
  }

  .mt-mega-17 {
    fill: #373737;
  }

  .mt-mega-18 {
    fill: #4c2c02;
  }

  .mt-mega-19 {
    fill: #770e28;
  }

  .mt-mega-20 {
    font-family: Quicksand-Light, Quicksand;
    font-weight: 300;
  }

  .mt-mega-20, .mt-mega-21 {
    fill: #302e29;
  }

  .mt-mega-22 {
    fill: #303233;
  }

  .mt-mega-23 {
    fill: #4f4f4f;
  }

  .mt-mega-24 {
    font-size: 14px;
  }

  .mt-mega-24, .mt-mega-25, .mt-mega-26, .mt-mega-14 {
    fill: #1c75bc;
  }

  .mt-mega-24, .mt-mega-26 {
    font-family: Quicksand-Bold, Quicksand;
    font-weight: 700;
  }

  .mt-mega-27 {
    clip-path: url(#clippath-1);
  }

  .mt-mega-28 {
    font-size: 23.16px;
  }

  .mt-mega-29 {
    fill: url(#linear-gradient-2);
  }

  .mt-mega-29, .mt-mega-30 {
    mix-blend-mode: multiply;
  }

  .mt-mega-29, .mt-mega-30, .mt-mega-31 {
    opacity: .3;
  }

  .mt-mega-30 {
    fill: url(#linear-gradient-3);
  }

  .mt-mega-32 {
    font-size: 34.74px;
  }

  .mt-mega-33 {
    fill: #fff;
  }

  .mt-mega-34 {
    fill: #3e3eaf;
  }

  .mt-mega-35 {
    fill: #363691;
  }

  .mt-mega-36 {
    opacity: .68;
  }

  .mt-mega-37 {
    fill: #1f1f1f;
  }

  .mt-mega-38 {
    fill: #00005c;
  }

  .mt-mega-8 {
    opacity: .5;
  }

  .mt-mega-39 {
    fill: #51b1fc;
  }

  .mt-mega-40 {
    fill: #383838;
  }

  .mt-mega-41 {
    fill: #94989b;
  }

  .mt-mega-5 {
    stroke: #c1ad76;
  }

  .mt-mega-42 {
    fill: #525659;
  }

  .mt-mega-43 {
    fill: #331c25;
  }

  .mt-mega-44 {
    fill: #c1ad76;
  }

  .mt-mega-45 {
    fill: #020223;
  }

  .mt-mega-46 {
    fill: #0d1a23;
  }

  .mt-mega-26 {
    font-size: 31px;
  }

  .mt-mega-31 {
    mix-blend-mode: screen;
  }

  .mt-mega-14 {
    stroke: #231f20;
    stroke-width: .75px;
  }
  
  /******Hover*****/ 

  .metaMegaBox:hover .mt-mega-10 {
    fill: #30a8ff;
  }
  
  .metaMegaBox:hover .mt-mega-46 {
    fill: #001e36;
  }
  
  .metaMegaBox:hover .mt-mega-18 {
    fill: #ff9a00;
  }
  .metaMegaBox:hover .mt-mega-3 {
    fill: #2d0402;
  }
  .metaMegaBox:hover .mt-mega-34 {
    fill: #9999ff;
  }
  .metaMegaBox:hover .mt-mega-45 {
    fill: #00005b;
  }
  .metaMegaBox:hover .mt-mega-19 {
    fill: #e94869;
  }
  .metaMegaBox:hover .mt-mega-43 {
    fill: #43091f;
  }
  
  .metaMegaBox:hover .mt-mega-35 {
    fill: #9a99ff;
  }

  .metaMegaBox:hover .mt-mega-38 {
    fill: #00005c;
  }
  
  .metaMegaBox:hover .mt-mega-6 {
    fill: #ffffff;
  }

  .metaMegaBox:hover  .mt-mega-5 {
    fill: #ffffff;
  }
  
  


  
  
   @media only screen and (max-width: 500px) {
    .metaMegaBox svg:hover {
      cursor: pointer;
      width: initial;
      transition: initial;
    }
  
    .metaMegaBox {
      width: 100%;
      padding: 10px;
    }
  
    .metaMegaBox .mt-mega-10 {
      fill: #30a8ff;
    }
    
    .metaMegaBox .mt-mega-46 {
      fill: #001e36;
    }
    
    .metaMegaBox .mt-mega-18 {
      fill: #ff9a00;
    }
    .metaMegaBox .mt-mega-3 {
      fill: #2d0402;
    }
    .metaMegaBox .mt-mega-34 {
      fill: #9999ff;
    }
    .metaMegaBox .mt-mega-45 {
      fill: #00005b;
    }
    .metaMegaBox .mt-mega-19 {
      fill: #e94869;
    }
    .metaMegaBox .mt-mega-43 {
      fill: #43091f;
    }
    
    .metaMegaBox .mt-mega-35 {
      fill: #9a99ff;
    }
  
    .metaMegaBox .mt-mega-38 {
      fill: #00005c;
    }
    
    .metaMegaBox .mt-mega-6 {
      fill: #ffffff;
    }
  
    .metaMegaBox  .mt-mega-5 {
      fill: #ffffff;
    }
    
    .mt-mega-11 {
      fill: url(#radial-gradient-mobil);
    }
    
  }