.metaMiniBox {
    cursor: pointer;
    /* width: 300px!important; */
  }
  
  .mt-mini-1, .mt-mini-2 {
    fill: none;
  }

  .mt-mini-3 {
    fill: #2d0402;
  }

  .mt-mini-4 {
    fill-rule: evenodd;
  }

  .mt-mini-4, .mt-mini-5, .mt-mini-6 {
    fill: #afafaf;
  }

  .mt-mini-7, .mt-mini-8 {
    fill: #231f20;
  }

  .mt-mini-9 {
    fill: #838689;
  }

  .mt-mini-10 {
    fill: #174f72;
  }

  .mt-mini-11 {
    fill: #454a4c;
  }

  .mt-mini-12 {
    fill: #c1ad76;
  }

  .mt-mini-13 {
    fill: url(#radial-gradient);
  }

  .mt-mini-14 {
    fill: url(#linear-gradient);
  }

  .mt-mini-2 {
    stroke: #1c75bc;
    stroke-width: 2px;
  }

  .mt-mini-2, .mt-mini-5, .mt-mini-15 {
    stroke-miterlimit: 10;
  }

  .mt-mini-16 {
    fill: #3e3e3e;
  }

  .mt-mini-17 {
    fill: #c1ad76;
  }

  .mt-mini-18 {
    isolation: isolate;
  }

  .mt-mini-19 {
    fill: #373737;
  }

  .mt-mini-20 {
    fill: #4c2c02;
  }

  .mt-mini-21 {
    fill: #770e28;
  }

  .mt-mini-22 {
    font-family: Quicksand-Light, Quicksand;
    font-weight: 300;
  }

  .mt-mini-22, .mt-mini-23 {
    fill: #302e29;
  }

  .mt-mini-24 {
    fill: #303233;
  }

  .mt-mini-25 {
    fill: #4f4f4f;
  }

  .mt-mini-26 {
    font-size: 14px;
  }

  .mt-mini-26, .mt-mini-27, .mt-mini-28, .mt-mini-15 {
    fill: #1c75bc;
  }

  .mt-mini-26, .mt-mini-28 {
    font-family: Quicksand-Bold, Quicksand;
    font-weight: 700;
  }

  .mt-mini-29 {
    clip-path: url(#clippath-1);
  }

  .mt-mini-30 {
    font-size: 23.16px;
  }

  .mt-mini-31 {
    fill: url(#linear-gradient-2);
  }

  .mt-mini-31, .mt-mini-32 {
    mix-blend-mode: multiply;
  }

  .mt-mini-31, .mt-mini-32, .mt-mini-33 {
    opacity: .3;
  }

  .mt-mini-32 {
    fill: url(#linear-gradient-3);
  }

  .mt-mini-34 {
    font-size: 34.74px;
  }

  .mt-mini-35 {
    fill: #fff;
  }

  .mt-mini-36 {
    fill: #3e3eaf;
  }

  .mt-mini-37 {
    fill: #363691;
  }

  .mt-mini-38 {
    opacity: .68;
  }

  .mt-mini-5 {
    stroke: #c1ad76;
  }

  .mt-mini-5, .mt-mini-15 {
    stroke-width: 2;
  }

  .mt-mini-39 {
    fill: #1f1f1f;
  }

  .mt-mini-40 {
    fill: #00005c;
  }

  .mt-mini-8 {
    opacity: .5;
  }

  .mt-mini-41 {
    fill: #51b1fc;
  }

  .mt-mini-42 {
    fill: #383838;
  }

  .mt-mini-43 {
    fill: #94989b;
  }

  .mt-mini-44 {
    fill: #525659;
  }

  .mt-mini-45 {
    fill: #331c25;
  }

  .mt-mini-46 {
    fill: #020223;
  }

  .mt-mini-47 {
    fill: #0d1a23;
  }

  .mt-mini-28 {
    font-size: 31px;
  }

  .mt-mini-33 {
    mix-blend-mode: screen;
  }

  .mt-mini-15 {
    stroke: #231f20;
  }
  
  /******Hover*****/ 

  .metaMiniBox:hover .mt-mini-10 {
    fill: #30a8ff;
  }
  
  .metaMiniBox:hover .mt-mini-47 {
    fill: #001e36;
  }
  
  .metaMiniBox:hover .mt-mini-20 {
    fill: #ff9a00;
  }
  .metaMiniBox:hover .mt-mini-3 {
    fill: #2d0402;
  }
  .metaMiniBox:hover .mt-mini-36 {
    fill: #9999ff;
  }
  .metaMiniBox:hover .mt-mini-46 {
    fill: #00005b;
  }
  .metaMiniBox:hover .mt-mini-21 {
    fill: #e94869;
  }
  .metaMiniBox:hover .mt-mini-45 {
    fill: #43091f;
  }
  
  .metaMiniBox:hover .mt-mini-37 {
    fill: #9a99ff;
  }

  .metaMiniBox:hover .mt-mini-40 {
    fill: #00005c;
  }
  
  .metaMiniBox:hover .mt-mini-6 {
    fill: #ffffff;
  }

  .metaMiniBox:hover  .mt-mini-5 {
    fill: #ffffff;
  }
  
  .metaMiniBox:hover .mt-mini-18 {
    fill: #bba008;
  }
  

  @media only screen and (max-width: 500px) {
    .metaMiniBox svg:hover {
      cursor: pointer;
      width: initial;
      transition: initial;
    }
  
    .metaMiniBox {
      width: 100%;
      padding: 10px;
    }
  
    .metaMiniBox .mt-mini-10 {
      fill: #30a8ff;
    }
    
    .metaMiniBox .mt-mini-47 {
      fill: #001e36;
    }
    
    .metaMiniBox .mt-mini-20 {
      fill: #ff9a00;
    }
    .metaMiniBox .mt-mini-3 {
      fill: #2d0402;
    }
    .metaMiniBox .mt-mini-36 {
      fill: #9999ff;
    }
    .metaMiniBox .mt-mini-46 {
      fill: #00005b;
    }
    .metaMiniBox .mt-mini-21 {
      fill: #e94869;
    }
    .metaMiniBox .mt-mini-45 {
      fill: #43091f;
    }
    
    .metaMiniBox .mt-mini-37 {
      fill: #9a99ff;
    }
  
    .metaMiniBox .mt-mini-40 {
      fill: #00005c;
    }
    
    .metaMiniBox .mt-mini-6 {
      fill: #ffffff;
    }
  
    .metaMiniBox  .mt-mini-5 {
      fill: #ffffff;
    }
    
    .metaMiniBox .mt-mini-18 {
      fill: #bba008;
    }
    
   
    
  }