.googleMiniBox {
    cursor: pointer;
  }

  .ggl-mini-1 {
    fill: #f9c84e;
  }

  .ggl-mini-2 {
    fill: #4285f4;
  }

  .ggl-mini-3 {
    fill: #f9ab00;
  }

  .ggl-mini-4 {
    fill: #eaeaea;
  }

  .ggl-mini-5 {
    fill: #4caf50;
  }

  .ggl-mini-6 {
    fill: #73c3f9;
  }

  .ggl-mini-7 {
    fill: #ff3d00;
  }

  .ggl-mini-8 {
    fill: #c1c1c1;
  }

  .ggl-mini-9 {
    fill: none;
    stroke: #1c75bc;
    stroke-width: 2px;
  }

  .ggl-mini-9, .ggl-mini-10 {
    stroke-miterlimit: 10;
  }

  .ggl-mini-11 {
    fill: #3e3e3e;
  }

  .ggl-mini-12 {
    isolation: isolate;
  }

  .ggl-mini-13 {
    fill: #373737;
  }

  .ggl-mini-14 {
    fill: #f9663e;
  }

  .ggl-mini-15 {
    fill: #303233;
  }

  .ggl-mini-16, .ggl-mini-17 {
    fill: #ddd;
  }

  .ggl-mini-18 {
    font-size: 14px;
  }

  .ggl-mini-18, .ggl-mini-19, .ggl-mini-20, .ggl-mini-21, .ggl-mini-22 {
    font-family: Quicksand-Bold, Quicksand;
    font-weight: 700;
  }

  .ggl-mini-18, .ggl-mini-23, .ggl-mini-22, .ggl-mini-10 {
    fill: #1c75bc;
  }

  .ggl-mini-24 {
    fill: #34a853;
  }

  .ggl-mini-25 {
    fill: #246fdb;
  }

  .ggl-mini-26 {
    fill: #ffc107;
  }

  .ggl-mini-27 {
    fill: #fbbc04;
  }

  .ggl-mini-28 {
    fill: #8ab4f8;
  }

  .ggl-mini-29 {
    fill: #e37400;
  }

  .ggl-mini-30 {
    fill: #60a860;
  }

  .ggl-mini-19 {
    font-size: 51.17px;
  }

  .ggl-mini-19, .ggl-mini-31 {
    fill: #757575;
  }

  .ggl-mini-17 {
    opacity: .5;
  }

  .ggl-mini-31 {
    font-family: Quicksand-Light, Quicksand;
    font-size: 26px;
    font-weight: 300;
  }

  .ggl-mini-32 {
    fill: #1f1f1f;
  }

  .ggl-mini-33 {
    fill: #383838;
  }

  .ggl-mini-34 {
    fill: #94989b;
  }

  .ggl-mini-20 {
    fill: #302e29;
    font-size: 34.74px;
  }

  .ggl-mini-35 {
    letter-spacing: 0em;
  }

  .ggl-mini-36 {
    letter-spacing: -.01em;
  }

  .ggl-mini-21 {
    font-size: 30px;
  }

  .ggl-mini-21, .ggl-mini-37 {
    fill: #afafaf;
  }

  .ggl-mini-22 {
    font-size: 31px;
  }

  .ggl-mini-38 {
    fill: #b2b2b2;
  }

  .ggl-mini-39 {
    mix-blend-mode: screen;
    opacity: .3;
  }

  .ggl-mini-10 {
    stroke: #231f20;
    stroke-width: .75px;
  }
  
  @media only screen and (max-width: 500px) {
    
    .googleMiniBox {
      width: 100%;
      padding: 10px;
    }
    
  }