.googleMegaBox {
    cursor: pointer;
    
  }
  
  .ggl-mega-1 {
    fill: #f9c84e;
  }

  .ggl-mega-2 {
    fill: #4285f4;
  }

  .ggl-mega-3 {
    fill: #f9ab00;
  }

  .ggl-mega-4 {
    fill: #eaeaea;
  }

  .ggl-mega-5 {
    fill: #4caf50;
  }

  .ggl-mega-6 {
    fill: #73c3f9;
  }

  .ggl-mega-7 {
    fill: #ff3d00;
  }

  .ggl-mega-8 {
    fill: #c1c1c1;
  }

  .ggl-mega-9 {
    fill: none;
    stroke: #1c75bc;
    stroke-width: 2px;
  }

  .ggl-mega-9, .ggl-mega-10 {
    stroke-miterlimit: 10;
  }

  .ggl-mega-11 {
    fill: #3e3e3e;
  }

  .ggl-mega-12 {
    isolation: isolate;
  }

  .ggl-mega-13 {
    fill: #373737;
  }

  .ggl-mega-14 {
    fill: #f9663e;
  }

  .ggl-mega-15 {
    fill: #303233;
  }

  .ggl-mega-16, .ggl-mega-17 {
    fill: #ddd;
  }

  .ggl-mega-18 {
    font-size: 14px;
  }

  .ggl-mega-18, .ggl-mega-19, .ggl-mega-20, .ggl-mega-21, .ggl-mega-22 {
    font-family: Quicksand-Bold, Quicksand;
    font-weight: 700;
  }

  .ggl-mega-18, .ggl-mega-23, .ggl-mega-22, .ggl-mega-10 {
    fill: #1c75bc;
  }

  .ggl-mega-24 {
    fill: #34a853;
  }

  .ggl-mega-25 {
    fill: #246fdb;
  }

  .ggl-mega-26 {
    fill: #ffc107;
  }

  .ggl-mega-27 {
    fill: #fbbc04;
  }

  .ggl-mega-28 {
    fill: #8ab4f8;
  }

  .ggl-mega-29 {
    fill: #e37400;
  }

  .ggl-mega-30 {
    fill: #60a860;
  }

  .ggl-mega-19 {
    font-size: 51.17px;
  }

  .ggl-mega-19, .ggl-mega-31 {
    fill: #757575;
  }

  .ggl-mega-17 {
    opacity: .5;
  }

  .ggl-mega-31 {
    font-family: Quicksand-Light, Quicksand;
    font-size: 26px;
    font-weight: 300;
  }

  .ggl-mega-32 {
    fill: #1f1f1f;
  }

  .ggl-mega-33 {
    fill: #383838;
  }

  .ggl-mega-34 {
    fill: #94989b;
  }

  .ggl-mega-20 {
    fill: #302e29;
    font-size: 34.74px;
  }

  .ggl-mega-35 {
    letter-spacing: 0em;
  }

  .ggl-mega-36 {
    letter-spacing: -.01em;
  }

  .ggl-mega-21 {
    font-size: 30px;
  }

  .ggl-mega-21, .ggl-mega-37 {
    fill: #afafaf;
  }

  .ggl-mega-22 {
    font-size: 31px;
  }

  .ggl-mega-38 {
    fill: #b2b2b2;
  }

  .ggl-mega-39 {
    mix-blend-mode: screen;
    opacity: .3;
  }

  .ggl-mega-10 {
    stroke: #231f20;
    stroke-width: .75px;
  }
  
  @media only screen and (max-width: 500px) {
    
    .googleMegaBox {
      width: 100%;
      padding: 10px;
    }
    
    .googleMegaBox svg:hover {
      cursor: pointer;
      width: initial;
      transition: initial;
    }
  
    
  }