.Daha-Fazla-Bilgi-Al-1 {
    fill: #3f4c70;
  }

  .Daha-Fazla-Bilgi-Al-1, .Daha-Fazla-Bilgi-Al-2, .Daha-Fazla-Bilgi-Al-3, .Daha-Fazla-Bilgi-Al-4, .Daha-Fazla-Bilgi-Al-5, .Daha-Fazla-Bilgi-Al-6, .Daha-Fazla-Bilgi-Al-7, .Daha-Fazla-Bilgi-Al-8, .Daha-Fazla-Bilgi-Al-9, .Daha-Fazla-Bilgi-Al-10, .Daha-Fazla-Bilgi-Al-11, .Daha-Fazla-Bilgi-Al-12, .Daha-Fazla-Bilgi-Al-13, .Daha-Fazla-Bilgi-Al-14, .Daha-Fazla-Bilgi-Al-15, .Daha-Fazla-Bilgi-Al-16, .Daha-Fazla-Bilgi-Al-17, .Daha-Fazla-Bilgi-Al-18, .Daha-Fazla-Bilgi-Al-19, .Daha-Fazla-Bilgi-Al-20, .Daha-Fazla-Bilgi-Al-21 {
    stroke-width: 0px;
  }

  .Daha-Fazla-Bilgi-Al-22 {
    font-family: Arial, sans-serif;
    font-size: 3.09px;
    font-weight: 600;
  }

  .Daha-Fazla-Bilgi-Al-22, .Daha-Fazla-Bilgi-Al-12, .Daha-Fazla-Bilgi-Al-13 {
    fill: #1a1f2e;
  }

  .Daha-Fazla-Bilgi-Al-2, .Daha-Fazla-Bilgi-Al-11 {
    fill: #ff5a76;
  }

  .Daha-Fazla-Bilgi-Al-2, .Daha-Fazla-Bilgi-Al-13 {
    fill-rule: evenodd;
  }

  .Daha-Fazla-Bilgi-Al-23 {
    font-size: 3.51px;
  }

  .Daha-Fazla-Bilgi-Al-23, .Daha-Fazla-Bilgi-Al-24, .Daha-Fazla-Bilgi-Al-25 {
    font-weight: 700;
  }

  .Daha-Fazla-Bilgi-Al-23, .Daha-Fazla-Bilgi-Al-25 {
    font-family: Arial, sans-serif;
  }

  .Daha-Fazla-Bilgi-Al-23, .Daha-Fazla-Bilgi-Al-25, .Daha-Fazla-Bilgi-Al-19 {
    fill: #454b60;
  }

  .Daha-Fazla-Bilgi-Al-3 {
    fill: #2d354f;
  }

  .Daha-Fazla-Bilgi-Al-4 {
    fill: #cecece;
    filter: url(#drop-shadow-1);
  }

  .Daha-Fazla-Bilgi-Al-5 {
    fill: #5c8eff;
  }

  .Daha-Fazla-Bilgi-Al-6 {
    fill: #cad2db;
  }

  .Daha-Fazla-Bilgi-Al-7 {
    fill: #0a0c12;
  }

  .Daha-Fazla-Bilgi-Al-26 {
    stroke: #dce0ed;
    stroke-width: .23px;
  }

  .Daha-Fazla-Bilgi-Al-26, .Daha-Fazla-Bilgi-Al-27 {
    stroke-miterlimit: 10;
  }

  .Daha-Fazla-Bilgi-Al-26, .Daha-Fazla-Bilgi-Al-27, .Daha-Fazla-Bilgi-Al-28, .Daha-Fazla-Bilgi-Al-29 {
    fill: none;
  }

  .Daha-Fazla-Bilgi-Al-30 {
    mix-blend-mode: multiply;
  }

  .Daha-Fazla-Bilgi-Al-31 {
    letter-spacing: -.01em;
  }

  .Daha-Fazla-Bilgi-Al-27, .Daha-Fazla-Bilgi-Al-28 {
    stroke: #454b60;
  }

  .Daha-Fazla-Bilgi-Al-27, .Daha-Fazla-Bilgi-Al-28, .Daha-Fazla-Bilgi-Al-29 {
    stroke-width: .77px;
  }

  .Daha-Fazla-Bilgi-Al-8 {
    fill: #3797f2;
  }

  .Daha-Fazla-Bilgi-Al-24 {
    fill: #3f3f3f;
    font-family: Arial, sans-serif;
    font-size: 9.71px;
  }

  .Daha-Fazla-Bilgi-Al-25 {
    font-size: 4.41px;
  }

  .Daha-Fazla-Bilgi-Al-28, .Daha-Fazla-Bilgi-Al-29 {
    stroke-linejoin: round;
  }

  .Daha-Fazla-Bilgi-Al-9 {
    fill: url(#Degradado_sin_nombre_2);
  }

  .Daha-Fazla-Bilgi-Al-10 {
    fill: #e7ecf2;
  }

  .Daha-Fazla-Bilgi-Al-32 {
    letter-spacing: -.02em;
  }

  .Daha-Fazla-Bilgi-Al-14 {
    fill: #0c101a;
  }

  .Daha-Fazla-Bilgi-Al-33 {
    isolation: isolate;
  }

  .Daha-Fazla-Bilgi-Al-15 {
    fill: url(#Degradado_sin_nombre_2-4);
  }

  .Daha-Fazla-Bilgi-Al-16 {
    fill: url(#Degradado_sin_nombre_2-5);
  }

  .Daha-Fazla-Bilgi-Al-17 {
    fill: url(#Degradado_sin_nombre_2-3);
  }

  .Daha-Fazla-Bilgi-Al-18 {
    fill: url(#Degradado_sin_nombre_2-2);
  }

  .Daha-Fazla-Bilgi-Al-20 {
    fill: #fff;
  }

  .Daha-Fazla-Bilgi-Al-21 {
    fill: #131621;
  }

  .Daha-Fazla-Bilgi-Al-29 {
    stroke: #1a1f2e;
    stroke-linecap: round;
  }