.google-span:nth-of-type(1) {
  color: #4285f4; /* Blue */
}

.google-span:nth-of-type(2) {
  color: #ea4335; /* Red */
}

.google-span:nth-of-type(3) {
  color: #fbbc05; /* Yellow */
}

.google-span:nth-of-type(4) {
  color: #4285f4; /* Blue */
}

.google-span:nth-of-type(5) {
  color: #34a853; /* Green */
}

.google-span:nth-of-type(6) {
  color: #ea4335; /* Red */
}
